@import url('https://fonts.cdnfonts.com/css/doctor-who');
@import url('https://fonts.cdnfonts.com/css/fontspace');
@tailwind base;

@layer base {
  html {
    @apply text-[#4f4f4f];
  }
  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Doctor Who','Fontspace', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}